* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader-container {
    background-color: rgba(#000000, 70%);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.loader {
    width: 75px;
    height: 75px;
    border: 5px solid;
    border-color: #ffffff transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.show {
    display: block;
}